[Desktop Entry]
Name=Google Maps in Chromium

GenericName=Google Maps
Exec=firejail --private chromium --app=https://maps.google.com
Terminal=false
Icon=chromium
Type=Application
Categories=GTK;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
