[Desktop Entry]
Name=Skype
Exec=firejail --private chromium --app=https://web.skype.com/en/
Terminal=false
Icon=chromium
Type=Application
Categories=GTK;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
